.git
.gitignore
.env
.env.*
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
tests/
*.md
LICENSE
.dockerignore
Dockerfile
Dockerfile.worker
build/
.vscode/
.idea/
*.egg-info/
dist/
*.tar.gz
